<h4 class="sidebar-summary">Consumable</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>Quantity</label>
        <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
    </div>

    <div class="form-group">
        <label>Weight</label>
        <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="{{data.weight.type}}"/>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

<ol class="item-tags">
    <li class="tag">{{lookup consumableTypes data.consumableType.value}}</li>
</ol>

<div class="form-group consumable-details">
    <label>{{data.charges.label}}</label>
    <input type="text" name="data.charges.value" value="{{data.charges.value}}" data-dtype="{{data.charges.type}}"/>
    <span class="flex0">/</span>
    <span class="max-charges">{{data.charges.max}}</span>
</div>
