<div class="form-group">
    <label>{{data.consumableType.label}}</label>
    <select name="data.consumableType.value" data-dtype="{{data.consumableType.type}}">
        {{#select data.consumableType.value}}
        <option value=""></option>
        {{#each consumableTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group consumable-charges">
    <label>{{data.charges.label}}</label>
    <input type="text" name="data.charges.value" value="{{data.charges.value}}" data-dtype="{{data.charges.type}}"/>
    <span class="flex0"> / </span>
    <input type="text" name="data.charges.max" value="{{data.charges.max}}" data-dtype="{{data.charges.type}}"/>
</div>

 <div class="form-group">
    <label>{{data.consume.label}}</label>
    <input type="text" name="data.consume.value" value="{{data.consume.value}}"
           data-dtype="{{data.consume.type}}" placeholder="Formula"/>
</div>

 <div class="form-group">
    <label>{{data.autoUse.label}}</label>
    <input type="checkbox" name="data.autoUse.value" value="1" data-dtype="{{data.autoUse.type}}" {{checked data.autoUse.value}}/>
</div>

 <div class="form-group">
    <label>{{data.autoDestroy.label}}</label>
    <input type="checkbox" name="data.autoDestroy.value" value="1" data-dtype="{{data.autoDestroy.type}}" {{checked data.autoDestroy.value}}/>
</div>
